.our-team {
    background-color: $color-picture;
    padding-top: 94px;
    padding-bottom: 94px;
    &-container {
        @extend %container;
    }
    &-title {
        @extend %section-title;
    }
}

.employees {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .participants {
        text-align: center;
        width: calc((100% - 90px) / 4);
        margin-right: 28px;
        padding-bottom: 24px;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
        /* border-radius: 4px; */
    }
    .participants:last-child {
        margin-right: 0;
    }
}

.employee {
    &-name {
        color: $page-color;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    &-name p {
        margin-top: 0;
    }
    &-profession {
        color: $title-text-color;
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.9;
        display: inline-block;
        padding: 0;
        margin-top: 0;
        margin-bottom: 16px;
    }
}